*{
    background-color: pink;


}

h1{
    color: blue ;
    background-color: yellow;
}

/* button{
    background-color: blue;
    color: white;
} */

.content{
    color: red;
}
.newclass{
    background-color: green;
}